---
import { twMerge } from 'tailwind-merge';

const { class: className } = Astro.props;
---

<h2
  class={twMerge(
    'font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl mb-6 ml-4 text-center text-primary',
    className
  )}
>
  <slot />
</h2>
