---
import Item from './ListItem.astro';
import type { ArchivedPost } from '~/types';

export interface Props {
  archivedPosts: ArchivedPost[];
}

const { archivedPosts } = Astro.props;
---

<ul>
  {
    archivedPosts.map((post) => (
      <li class="mb-8">
        <Item archivedPost={post} />
      </li>
    ))
  }
</ul>
